@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --header-height: 3.5rem; /*56px*/
  --hue: 152;
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

body,
button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  transition: 0.4s;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* DARK THEME */
body.dark-theme{
  background-color: #0D1B2A;
}

.dark-theme .header{
  background-color: #1b263b;
}

.dark-theme .nav__logo,
.dark-theme .nav__link,
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__close{
  color: #E0E1DD;
}

.dark-theme .nav__menu{
  background-color: #1B263B;
}

.dark-theme .home__title{
  color: #E0E1DD;
}

.change-theme{
  padding-right: 0.7rem;
  color: #14274E;
  font-size: 1.15rem;
  cursor: pointer;
}

/* CSS CLASSES */
.section{
  padding: 5.5rem 0;
}

.section__title,
.section__title-center{
  font-size: var(--h2-font-size);
  color: #14274E;
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
}

/* HEADER */
.header{
  width: 100%;
  background-color: #F1F6F9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s;
}

/* NAVIGATION */
.nav__btns{
  transform: translateX(-20px);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: #14274E;
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo:hover{
  color: #9BA4B4;
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: #F1F6F9;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: #14274E;
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: #9BA4B4;
}

.show-menu{
  right: 0;
}

.active-link{
  position: relative;
  color: #9BA4B4;
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
}

/* HOME */
.home{
  padding: 3.5rem 0 3.5rem;
}

.home__container{
  position: relative;
  row-gap: 2rem;
}

.home__img{
  width: 200px;
  justify-self: center;
}

.home__title{
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
  color: #14274E;
}

/* FOR SCROLLBAR */
::-webkit-scrollbar{
  width: .6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb{
  background: hsl(var(--hue), 4%, 29%);
  border-radius: .5rem;
}

/* FOR SMALL DEVICES */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__img{
    width: 180px;
  }
  
  .home__title{
    font-size: var(--h1-font-size);
  }
}

/* FOR MEDIUM DEVICES */
/* @media screen and (min-width: 576px){
  .mv__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .officers__description{
    padding: 0 4rem;
  }
  .officers__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }
} */

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu{
    margin-left: auto;
  }

  .home__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home{
    padding: 10rem 0 5rem;
  }

  .home__container{
    align-items: center;
  }

  .home__img{
    width: 280px;
    order: 1;
  }
}

/* FOR LARGE DEVICES */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  
  .home{
    padding: 17.5rem 0;
  }

  .home__img{
    width: 300px;
  }
}

@media screen and (min-width: 1200px){
  .scrollup{
    right: 3rem;
  }
}
